
nav a{
    color: white !important;
    font-size: 19px;
}

.navbar, .head{
    background-color: #315259!important;
    color: white;
}

.menu{
    height: 400px;
}
.menu ul{
    position: absolute;
    top: 0;
}

label{
    color: grey;
}

.alert{
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    
}

 .nav-link:hover {
    border-bottom: 2px solid white !important;
}

