
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: hidden;
}

.navbar a{
    color: white!important;
}

.container-fluid{
    height: 100vh;
   
}

.form{
    background-color: #f7f7f7;
}

.border1{
    border-color: red !important;
}
h1{
    font-family: 'Peralta';
}