
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: hidden;
}

.navbar a{
    color: white!important;
}

.container-fluid{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #f7f7f7;
}

.border1{
    border-color: red !important;
}